# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environments
.venv/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Environment variables
.env
.env.*

# Chroma DB
chroma_db/
